<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="王泽宇">
    <title>联系我们</title>
    <link rel="shortcut" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/style.css" media="screen" />
    <link rel="stylesheet" href="/css/skeleton.css" media="screen" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
</head>

<body class="menu-1 h-style-1 text-1">
    <div class="wrap">
        {{include 'header'}} {{include 'login'}}

        <!-- main -->
        <div class="main">
            <section class="container clearfix">
                <div class="four columns">
                    <div class="widget_contacts">
                        <h3 class="widget-title">联系方式</h3>
                        <ul class="our-contacts">
                            <li class="address">
                                <b>地址:</b>
                                <p>山西省太原市学院路3号 </p>
                            </li>
                            <li class="phone">
                                <b>Phone:</b>&nbsp;<span>+1 (234) 567-8901</span> <br />
                                <b>FAX:</b>&nbsp;<span>+1 (234) 567-8902</span>
                            </li>
                            <li>
                                <b>Email: <a href="mailto:testmail@sitename.com">testmail@sitename.com</a></b>
                            </li>
                        </ul>
                        <!--/ .our-contacts-->
                    </div>
                    <!--/ .widget-container-->
                </div>
                <!--/ .four .columns-->
                <div class="twelve columns">
                    <div id="contact">
                        <h3 class="widget-title">Contact Us</h3>
                        <form method="post" action="" class="contact-form" id="contactform" />
                        <p class="input-block">
                            <label for="name">Your Name (required)</label>
                            <input type="text" name="name" id="name" />
                        </p>
                        <p class="input-block">
                            <label for="email">Your Email (required)</label>
                            <input type="text" name="email" id="email" />
                        </p>
                        <p class="input-block">
                            <label for="web">Website</label>
                            <input type="text" name="web" id="web" />
                        </p>
                        <p class="input-block">
                            <label for="comments">You Message: (required)</label>
                            <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
                        </p>
                        <p class="input-block">
                            <label>&nbsp;</label>
                            <button class="button orange" type="submit" id="submit">Submit</button>
                        </p>
                        </form>
                        <!--/ .contact-form-->
                    </div>
                    <!--/ #contact-->
                </div>
                <!--/ .twelve .columns-->
            </section>
            <!--/.container -->
        </div>
        <!--/ .main-->
        
        <!-- - - - - - - - - - - - - - footer - - - - - - - - - - - - - - - - -->
        <footer id="footer" class="container clearfix">
            <section class="container clearfix">
                {{include 'footer'}}
            </section>
        </footer>
        <!--/ #footer-->
    </div>
</body>

</html>