<footer id="footer" class="container clearfix">
    <section class="container clearfix">
        <div class="five columns">
            <div class="widget-container widget_text">
                <h3 class="widget-title">关于我们</h3>
                <div class="textwidget">
                    <p class="white">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation.
                    </p>
                </div>
            </div>
            <!--/ .widget-container-->
        </div>
        <!--/ .five .columns-->
        <div class="five columns">
            <div class="widget-container widget_text">
                <h3 class="widget-title">Our Hours</h3>
                <div class="textwidget">
                    <ul class="hours">
                        <li>Monday <span>8 am to 7 pm</span></li>
                        <li>Tuesday <span>8 am to 9 pm</span></li>
                        <li>Wednesday <span>8 am to 9 pm</span></li>
                        <li>Thursday <span>8 am to 9 pm</span></li>
                        <li>Friday <span>8 am to 9 pm</span></li>
                        <li>Saturday <span>8 am to 9 pm</span></li>
                        <li>Sunday <span>Closed</span></li>
                    </ul>
                    <!--/ .hours-->
                </div>
                <!--/ .textwidget-->
            </div>
            <!--/ .widget-container-->
        </div>
        <!--/ .five .columns-->
        <div class="five columns">
            <div class="widget-container widget_contacts">
                <h3 class="widget-title">Our Contacts</h3>
                <ul class="our-contacts">
                    <li class="address">
                        <b>Address Info 1:</b>
                        <p>Lorem ipsum Dolor sit amet, 658 Consectetur, Adipisicing 56 D</p>
                    </li>
                    <li class="phone">
                        <b>Phone:</b>&nbsp;<span>+1 (234) 567-8901</span> <br />
                        <b>FAX:</b>&nbsp;<span>+1 (234) 567-8902</span>
                    </li>
                    <li>
                        <b>Email: <a href="mailto:testmail@sitename.com">testmail@sitename.com</a></b>
                    </li>
                    <li>
                        <ul class="social-icons clearfix">
                            <li class="twitter"><a title="twitter" href="#">Twitter</a></li>
                            <li class="facebook"><a title="facebook" href="#">Facebook</a></li>
                            <li class="rss"><a title="rss" href="#">Rss</a></li>
                        </ul>
                        <!--/ .social-icons-->
                    </li>
                </ul>
                <!--/ .our-contacts-->
            </div>
            <!--/ .widget-container-->
        </div>
        <div class="adjective clearfix">
            <p class="copyright">Copyright &copy; 2017. All rights reserved. <a href="/admin/login">管理员登录</a></p>
        </div>
        <!--/ .adjective-->
    </section>
</footer>