<footer id="footer" class="container clearfix">
    <section class="container clearfix">
        <div class="five columns">
            <div class="widget-container widget_text">
                <h3 class="widget-title">关于我们</h3>
                <div class="textwidget">
                    <p class="white">
                       不论各行各业，无论天涯海角，只要年满18岁，有驾照就能租车 .
                    </p>
                    <p>
                        中北租车 前所未有，因为之前所有.......
                    </p>
                    <p>驾乘乐趣，创新极限，一个充满无尽可能的世界</p>  <p>完美享受由此触动</p>
                </div>
            </div>
            <!--/ .widget-container-->
        </div>
        <!--/ .five .columns-->
        <div class="five columns">
            <div class="widget-container widget_text">
                <h3 class="widget-title">Our Hours</h3>
                <div class="textwidget">
                    <ul class="hours">
                        <li>Monday <span>8 am to 7 pm</span></li>
                        <li>Tuesday <span>8 am to 9 pm</span></li>
                        <li>Wednesday <span>8 am to 9 pm</span></li>
                        <li>Thursday <span>8 am to 9 pm</span></li>
                        <li>Friday <span>8 am to 9 pm</span></li>
                        <li>Saturday <span>8 am to 9 pm</span></li>
                        <li>Sunday <span>Closed</span></li>
                    </ul>
                    <!--/ .hours-->
                </div>
                <!--/ .textwidget-->
            </div>
            <!--/ .widget-container-->
        </div>
        <!--/ .five .columns-->
        <div class="five columns">
            <div class="widget-container widget_contacts">
                <h3 class="widget-title">Our Contacts</h3>
                <ul class="our-contacts">
                    <li class="address">
                        <b>Address Info 1:</b>
                        <p>山西省太原市尖草坪区学院路中北大学</p>
                    </li>
                    <li class="phone">
                        <b>Phone:</b>&nbsp;<span>+（86） 186 3693 1387</span> <br />
                        <b>FAX:</b>&nbsp;<span>+1 (234) 520-1314</span>
                    </li>
                    <li>
                        <b>Email: <a href="mailto:testmail@sitename.com">172546405@qq.com</a></b>
                    </li>
                    <li>
                        <ul class="social-icons clearfix">
                            <li class="twitter"><a title="twitter" href="#">Twitter</a></li>
                            <li class="facebook"><a title="facebook" href="#">Facebook</a></li>
                            <li class="rss"><a title="rss" href="#">Rss</a></li>
                        </ul>
                        <!--/ .social-icons-->
                    </li>
                </ul>
                <!--/ .our-contacts-->
            </div>
            <!--/ .widget-container-->
        </div>
        <div class="adjective clearfix">
            <p class="copyright">Copyright &copy; 2017. All rights reserved. <a href="/admin/login">管理员登录</a></p>
        </div>
        <!--/ .adjective-->
    </section>
</footer>