{{each cars as car}}
<li>
    <a href="/car/one/{{car.id}}" class="single-image video picture">
        <img src="/images/cars/{{car.picture}}" alt="" />
    </a>
    <a href="/car/one/{{car.id}}" class="list-meta">
        <h6 class="title-list-item">{{car.name}}</h6>
    </a>
    <div class="detailed">
        <span class="cost">${{car.price}}</span>
        <span>{{car.type}}</span> <br />
        <b>{{car.desc}}</b>
    </div>
    <!--/ .detailed-->
    <a href="/car/one/{{car.id}}" class="button orange">详情</a>
</li>
{{/each}}
<script>
    $('.single-image').each(function () {
        $(this).append('<span class="curtain"></span>');
    });
</script>