{{each cars as car}}
<li>
    <a href="/car/one/{{car.id}}" class="single-image video picture">
        <img src="/images/cars/{{car.picture}}" alt="" />
        <span class="curtain"></span>
    </a>
    <a href="/car/one/{{car.id}}" class="list-meta">
        <h6 class="title-list-item">{{car.name}}</h6>
    </a>
    <div class="detailed">
        <span class="cost">${{car.price}}</span>
        <span>{{car.type}}</span> <br />
        <b>{{car.desc}}</b>
    </div>
    <!--/ .detailed-->
    <a href="/car/one/{{car.id}}" class="button orange">详情</a>
    <a href="javascript:void(0)" class="button orange js_order" data-id="{{car.id}}">预定</a>
</li>
{{/each}}
<div class="order">

</div>
<script>
    $('.js_order').click(function () {
        if (typeof (user) != "undefined") {
            $('.order').load('/car/order_info/' + $(this).data('id'), function () {
                $('.order').find('#order').modal('show');
            });
        } else { alert("请先登录！"); }
    })
</script>