<div class="account-wrapper">
    <form class="form-reg">
        <a href="#" class="log">登录</a>
        <p>
            <label>用户名*</label>
            <input class="input-medium" type="text" name="username" />
        </p>
        <p>
            <label>密码*</label>
            <input class="input-medium" type="password" name="password" />
        </p>
        <p class="forgot-pass">
            <a href="#">忘记密码?</a>
        </p>
        <p>
            <a class="button dark enter-btn login">登录</a>
            <a class="button dark enter-btn" data-toggle="modal" href='#register'>注册</a>
        </p>
    </form>
    <!--/ .form-reg-->
</div>
<!--/ .account-wrapper-->
<div class="modal fade" id="register">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">注册用户</h4>
            </div>
            <div class="modal-body">
                <form class="form-register">
                    <div class="form-group">
                        <label>用户名</label>
                        <input class="form-control" type="text" name="username">
                    </div>
                    <div class="form-group">
                        <label for="">姓名</label>
                        <input class="form-control" type="text" name="name">
                    </div>
                    <div class="form-group">
                        <label for="">手机</label>
                        <input class="form-control" type="text" name="phone">
                    </div>
                    <div class="form-group">
                        <label for="">地址</label>
                        <input class="form-control" type="text" name="address">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="">密码</label>
                        <input class="form-control" type="password" name="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="button dark enter-btn register">注册</button>
                <button type="button" class="button dark enter-btn cancel" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/bootstrap.js"></script>
<script>
    (function () {
        var Btn = $('.form-reg .log'),
            wrapper = $('.account-wrapper'),
            loginBtn = $('.login');

        if ($.cookie("user")) {
            wrapper.hide();
        }
        $('.form-reg').on('click', '.login', function () {
            $.post('/user/login', $('.form-reg').serialize(), function (res) {
                window.location.href = '/'
            })
        })
        $('.register').on('click', function () {
            $.post('/user/register', $('.form-register').serialize(), function (res) {
                if (res.code == 'success') {
                    $('#register').modal('hide');
                }
            })
        })
        Btn.on('click', function (e) {
            var $target = $(e.target);
            if (!$target.hasClass('active')) {
                wrapper.animate({ right: 0 }, 250);
                $target.addClass('active');
            } else {
                wrapper.animate({ right: '-220px' }, 250);
                $target.removeClass('active');
            }
            e.preventDefault();
        });
    })();

</script>