<h3 class="widget-title">搜索</h3>
<form action="/" id="boxpanel" class="form-panel" />
<fieldset>
    <label for="manufacturer">Manufacturer:</label>
    <select id="manufacturer" name="manufacturer">
                    <option value="0" />Any
                    <option value="1" />Lorem
                    <option value="2" />Ipsum
                </select>
</fieldset>
<fieldset>
    <label for="minprice">Min Price:</label>
    <select id="minprice" name="minprice">
                    <option value="0" />No min
                    <option value="1" />Lorem
                    <option value="2" />Ipsum
                </select>
</fieldset>
<fieldset>
    <label for="maxprice">Max Price:</label>
    <select id="maxprice" name="maxprice">
                    <option value="0" />No max
                    <option value="1" />Lorem
                    <option value="2" />Ipsum
                </select>
</fieldset>
<fieldset>
    <label for="trans">Trans:</label>
    <select id="trans" name="trans">
                    <option value="0" />Any
                    <option value="1" />Lorem
                    <option value="2" />Ipsum
                </select>
</fieldset>
<fieldset>
    <label for="mileage">Mileage:</label>
    <select id="mileage" name="mileage">
                    <option value="0" />Any
                    <option value="1" />Lorem
                    <option value="2" />Ipsum
                </select>
</fieldset>
<fieldset>
    <label for="bodytype">Body Type:</label>
    <select id="bodytype" name="bodytype">
                    <option value="0" />Any
                    <option value="1" />Lorem
                    <option value="2" />Ipsum
                </select>
</fieldset>
<div class="clear"></div>
<button id="submitSearch" class="submit-search" type="submit">Search</button>
</form>
<!--/ .form-panel-->