<!-- - - - - - - - - - - - - - - Sidebar - - - - - - - - - - - - - - - - -->
<aside id="sidebar" class="four columns">
   
    <div class="widget-container widget_recent_entries">
        <h3 class="widget-title">类型</h3>
        <ul class="type">
            <li><a href="/car/search?type=轿车" class="button orange">轿　车</a> 生活艺术唯你独尊，总是把舒适带给你 </li>
            <li><a href="/car/search?type=跑车">跑车  生活艺术唯你独尊，总是把舒适带给你</a></li>
            <li><a href="/car/search?type=SUV">SUV  生活艺术唯你独尊，总是把舒适带给你</a></li>
            <li><a href="/car/search?type=越野">越野总是把舒适带给你 生活艺术唯你独尊，总是把舒适带给你 生活艺术唯你独尊，总是把舒适带给你</a></li>
        </ul>
    </div>
    
    <!--/ .widget-container-->
    <div class="widget-container widget_recent_entries">
        <h3 class="widget-title">近期新闻</h3>
        <ul>
            <li><a href="#">微信关注“中北租车”，即可领取20元租车券，福利活动享不停！</a></li>
            <li><a href="#">中北御驾黑卡 一卡尽享中北租车，浦发信用卡三白金</a></li>
            <li><a href="#">新用户专享 150元见面礼 注册赢好礼 即日起至2017年9月30日</a></li>
        </ul>
        <a href="#" class="see">更多</a>
    </div>
    <!--/ .widget-container-->
</aside>
<!--/ #sidebar-->
<!-- - - - - - - - - - - - - end Sidebar - - - - - - - - - - - - - - - - -->