<!-- - - - - - - - - - - - - - - Sidebar - - - - - - - - - - - - - - - - -->
<aside id="sidebar" class="four columns">
    <div class="widget-container widget_loan_calculator">
        <div class="widget-head">
            <h3 class="widget-title">Loan Calculator</h3>
        </div>
        <div class="entry-loan">
            <table>
                <tr>
                    <td><label for="loan_amount">Loan Amount</label></td>
                    <td><input id="loan_amount" type="text" value="0.00" /></td>
                    <td>$</td>
                </tr>
                <tr>
                    <td><label for="payment">Down Payment</label></td>
                    <td><input id="payment" type="text" value="0.00" /></td>
                    <td>$</td>
                </tr>
                <tr>
                    <td><label for="rate">Annual Rate</label></td>
                    <td><input id="rate" type="text" value="0.00" /></td>
                    <td>%</td>
                </tr>
                <tr>
                    <td><label for="term">Term</label></td>
                    <td><input id="term" type="text" value="0.00" /></td>
                    <td>Yrs</td>
                </tr>
                <tr>
                    <td>
                        <a id="buttonCalculate" href="#" class="button orange">Calculate</a>
                    </td>
                </tr>
                <tr>
                    <td><label for="payments">Payments</label></td>
                    <td><input id="payments" type="text" value="0.00" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="mpayment">Monthly Payment</label></td>
                    <td><input id="mpayment" type="text" value="0.00" /></td>
                    <td>$</td>
                </tr>
            </table>
        </div>
        <!--/ .entry-loan-->
    </div>
    <!--/ .widget-container-->
    <div class="widget-container widget_recent_entries">
        <h3 class="widget-title">Recent News</h3>
        <ul>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing</a></li>
            <li><a href="#">Ipsum dolor sit amet, consectetur adipisicing</a></li>
            <li><a href="#">Set magna ipsum dolor sit amet, consectetur adipisicing</a></li>
        </ul>
        <a href="#" class="see">See all news</a>
    </div>
    <!--/ .widget-container-->
</aside>
<!--/ #sidebar-->
<!-- - - - - - - - - - - - - end Sidebar - - - - - - - - - - - - - - - - -->